@model IEnumerable<Entities.DTOs.CategoryDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">

        <nav class="row">
            @foreach (var item in Model.Take(8))
            {
                <div class="col-md-3">
                    <a href="~/danh-muc/@item.Id">
                        <div class="card @*card-category*@">
                            <div class="img-wrap" style="background: #ffd7d7">
                                <img class="" src="~/images/">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title text-center"><a href="#">@item.Name</a></h4>
                            </div>
                        </div>
                    </a>
                    
                </div> <!-- col.// -->
            }

        </nav> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
