@model Entities.DTOs.UserDTO

@{
    if (Model == null)
    {
    <a style="width:120px" href="~/dang-nhap/" class="widget-view">
        <div class="icon-area">
            <i class="fa fa-user"></i>
        </div>
        @*<small class="text"> Đăng nhập </small>*@
        <b style="max-width:none !important;" class="text mx-auto" >Đăng Nhập</b>
    </a>
    }
    else
    {
        <a  style="width:120px" href="~/tong-quat-ve-toi/" class="widget-view">
            <div class="icon-area">
                <img src="@Model.AvatarUrl" class="rounded-circle" alt="A girl" width="35">
            </div>
            <b style="max-width:none !important;" class="text mx-auto">@Model.Fullname</b>
        </a>
    }


}


