
<a href="~/gio-hang/" class="widget-view">
    <div class="icon-area">
        <i class="fa fa-shopping-cart"></i>
        <span class="notify" id="CartCount">@ViewBag.CartCount</span>
    </div>
    <small class="text"> Giỏ hàng </small>
</a>